{% extends 'CustomerPage.html' %}
{% block body %}

            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                
                <table align="center">
                    <tr>
                        <td><label>Post Your Feedback</label></td>
                        <td><input type="text" name="room" placeholder="Enter your feedback" class="textbox" required></td>
                    </tr>
                    
                    <tr>
                        <td><input type="submit" value="Post Now" name="Add" class="but"/></td>
                    </tr>
                    </table>
                    
                    </form>
{% if msg %}
<div style="font-size: medium;color: brown;margin-top:  10px;">{{msg}}</div>
{% endif %}
{% endblock %}